---
---
$theme-green: darken(rgb(122, 179, 66), 10%);
$theme-gray: rgb(140, 140, 140);
$theme-black: rgb(35, 31, 32);

$header-height: 130px;

@mixin bar {
	margin: 0;
	width: 100%;
	display: block;
	padding: 0;
	background-color: $theme-green;
	height: 25px;
	box-sizing: border-box;
	
	&:after {
		position: absolute;
		content: '';
		background-color: $theme-gray;
		width: 10%;
		height: 25px;
		right: 0;
	}
}

@mixin rounded($radius: .5em) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}

@mixin transparent-background($color: black, $opacity: 0.5) {
	&:after {
		content: '';
		background-color: $color;
		opacity: $opacity;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
	}
}

* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


body {
	width: 100%;
	height: 100%;
	background-color: black;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	margin: 0;
	color: $theme-gray;
	
	// Common background settings for background images
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: auto 100%;
}

header#site-header, footer#site-footer {
	margin-left: 0;
	position: fixed;
	z-index: 10;
	
	nav {
		ul {
			@include bar;
			
			li {
				display: inline-block;
				list-style: none;
				
				a {
					text-decoration: none;
					font-size: 18px;
					
					&:link, &:active, &:visited {
						color: black;
					}
					
					&:hover {
						color: lighten(black, 25%);
					}
				}
			}
		}
	}
}

header#site-header {
	width: 100%;
	height: $header-height;
	
	@include transparent-background(black, 0.5);
	
	h1 {
		display: block;
		color: $theme-green;
		margin: 10px;
		font-size: 45px;
		padding-left: 10px;
		margin-top: 0;
		
		a, a:link, a:hover, a:active, a:visited {
			color: inherit;
			text-decoration: none;
		}
	}
	
	p#tagline {
		display: block;
		color: $theme-gray;
		margin: 10px;
		padding-left: 10px;
	}
	
	nav {
		ul {
			padding-left: 20px;
			margin: 10px 0;
			
			li {
				&:not(:first-child) {
					margin-left: 30px;
				}
			}
		}
	}
}

div#wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: $header-height;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

footer#site-footer {
	bottom: 0;
	width: 100%;
	
	nav {
		ul {
			text-align: center;
			
			li {
				margin: 0 30px;
			}
		}
	}
}

body.home {
	background-image: url("../images/backgrounds/home.jpg");
}

nav#social {
	position: absolute;
	bottom: 30px;
	
	ul {
		margin: 0;
		padding: 0;
		padding-bottom: 10px;
		padding-left: 20px;
		
		li {
			display: inline-block;
			list-style: none;
			margin: 0 10px;
			
			a {
				color: $theme-gray;
				
				&:hover {
					color: lighten($theme-gray, 10%);
				}
			}
		}
	}
}

body.lighting {
	background-image: url("../images/backgrounds/lighting.jpg");
	background-size: cover;
}

section.lighting-section {
	@include transparent-background(#3d3d3d, 0.5);
	border-color: $theme-gray;
	border-width: 1px;
	border-style: solid;
	@include rounded;
	
	&:after {
		@include rounded;
	}
	
	position: absolute;
	width: 350px;
	padding: 10px;
	margin-top: 20px;
	
	h1 {
		margin: 0;
	}
	
	ul {
		padding-left: 20px;
		
		li {
			list-style: none;
			margin: 10px 0;
			
			h2 {
				margin: 10px 0;
			}
			
			a, a:link, a:hover, a:active, a:visited {
				color: inherit;
				text-decoration: none;
			}
		}
	}
}

// Individual show galleries

div.gallery {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align: center;
	
	padding: 0 20px;

	div.show-info {
		position: absolute;
		text-align: center;
		height: 120px;
		top: 0;
		width: 100%;

		h1.show-title {
			text-align: center;
			margin: 0;
		}
		
		span {
			display: block;
		}
	}
	
	div.main-image {
		position: absolute;
		top: 120px;
		bottom: 170px;
		right: 0;
		left: 0;
		text-align: center;
		
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	
	div.gallery-thumbs {
		position: absolute;
		bottom: 20px;
		padding: 0;
		overflow-x: auto;
		overflow-y: hidden;
		height: 150px;
		white-space: nowrap;
		right: 20px;
		left: 20px;
		
		ul {
			height: 150px;
			padding: 0;
			
			li {
				list-style: none;
				display: inline-block;
				
				a {
					cursor: pointer;
					
					img {
						
					}
				}
			}
		}
	}
}
