<!DOCTYPE html>
<html prefix="og: http://opg.me/ns#">
<head>
	<title>{{ page.title }}</title>
	<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="/javascripts/jquery.imgpreload.min.js"></script>
	<script src="/js/site.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/css/site.css">
	<link rel="icon" href="/images/favicon.ico">
</head>
<body class="{{ page.class }}">
	<header id="site-header">
		<h1><a href="/">Harry Grillo</a></h1>
		<p id="tagline">Design &amp; Technology for the 21<sup>st</sup> Century Stage</p>
		
		<nav>
			<ul>
				<li><a href="/lighting">Lighting</a></li>
				<li><a href="/video">Video &amp; Projection</a></li>
				<li><a href="/code">Code</a></li>
				<!-- <li><a href="/other">Other Projects</a></li> -->
				<li><a href="/resume">Resume</a></li>
			</ul>
		</nav>
	</header>

	<div id="wrapper">
		{{ content }}
	</div>

	<footer id="site-footer">
		<nav>
			<ul>
				<li><a href="mailto:harry@redbassett.com"><i class="fa fa-envelope fa-fw"></i> harry@redbassett.com</a></li>
				<li><a href="tel:14133452841"><i class="fa fa-phone fa-fw"></i> 413.345.2841</a></li>
			</ul>
		</nav>
	</footer>
</body>
</html>
